@header-arrow-color:#fff;
@tabbar-text-active-color:#dc0b0b;
@theme-color:#FE2C45;
@button-primary-bg-color:#E22122;
@button-primary-active-bg-color:#E22122;
@button-plain-primary-active-border-color:#E22122;

