@header-arrow-color:#fff;
@tabbar-text-active-color:#0ba2dc;
@theme-color:#FE2C45;
@button-primary-bg-color:#E22122;
@button-primary-active-bg-color:#2582e2;
@button-plain-primary-active-border-color:#2582e2;
