@header-arrow-color:#fff;
@tabbar-text-active-color:#0ba2dc;
@theme-color:#0ba2dc;
@button-primary-bg-color:rgb(11, 162, 220);
@button-primary-active-bg-color:#2582e2;
@button-plain-primary-active-border-color:#2582e2;
